body{
    font-family: "Rubik";
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

input{
    font-family: "Rubik";
    padding: 10px 5px;
}

button{
    font-size: 1.8em;
    padding: 10px 10px;
    border: none;
    background: dodgerblue;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 10px #0c4294;
    background: linear-gradient(135deg, #74b9ff, #0984e3);
    box-shadow: 8px 8px 20px #888;
    margin: 0px 8px;
    cursor: pointer;
    transition: box-shadow 0.6s;
    outline: none;
    &:hover{
        box-shadow: 0px 0px 20px #888;
    }
}

.next-button{
    
    width: 53px;
    border-radius: 50%;
}

.submit-workouts{
    font-family: "Rubik";
    border-radius: 50px;
    padding: 8px 20px 10px;
}

.number-input{
    width: 120px;
    text-align: center;
    border: none;
    border-radius: 40px;
    font-size: 1.8em;
    outline: none;
    background: linear-gradient(135deg, #eee 50%, #aaa);
    color: #666;
    box-shadow: 8px 8px 20px #aaa;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
    &::placeholder{
        color: #aaa;
    }
    margin: 0px 8px;
}

.text-input{
    width: 180px;
    text-align: left;
    border: none;
    border-radius: 15px;
    font-size: 1.3em;
    outline: none;
    padding: 10px 20px;
    background: linear-gradient(135deg, #fff 50%, #ccc);
    color: #666;
    box-shadow: 6px 6px 15px #ccc;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
    &::placeholder{
        color: #aaa;
    }
    margin: 8px 8px;
}

.main-title{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    background: #0984e3;
    color: white;
    text-shadow: 6px 6px 10px #0c4294;
    box-shadow: 0px 0px 30px #0984e3;
    z-index: 2;
    position: relative;
}

.presets{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.presets-slide{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
    &:nth-child(1){
        display: block;
    }
}

.presets-title{
    font-size: 2em;
    font-weight: 700;
    padding: 30px 0px;
    width: 100%;
}

.last-slide{
    top: 350px;
    padding-bottom: 50px;
}



.workout-section{
    display: none;
    text-align: center;
}
.workout-group{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    line-height: 8em;
}
.current-title{
    font-size: 3em;
    width: 100%;
}
.current-time{
    font-size: 5em;
}

@media only screen and (max-width: 450px) {
    .main-title{
        font-size: 1.6em;
        padding: 30px;
    }
    .last-slide{
        top: 420px;
    }
}